#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --locked --release --package captureport

override_dh_auto_install:
	install -Dm755 target/release/captureport debian/captureport/usr/bin/captureport
	install -Dm644 LICENSE debian/captureport/usr/share/doc/captureport/copyright
	install -Dm644 crates/captureport/assets/fonts/Outfit-OFL.txt \
		debian/captureport/usr/share/doc/captureport/Outfit-OFL.txt
	install -Dm644 packaging/captureport.desktop \
		debian/captureport/usr/share/applications/captureport.desktop
	install -Dm644 crates/captureport/assets/captureport.svg \
		debian/captureport/usr/share/icons/hicolor/scalable/apps/captureport.svg
